.container{
      width: 90%;
      display: grid;
      grid-template-columns: repeat(8,1fr);
      grid-template-rows: repeat(3,1fr);
      background-color: FFD0EC;
      & .grid-item-1{
        
      }
      img{
            width: 300px;
            object-fit:fill;
           }
}